# Exploring DataSet

In [1]:
import pandas as pd
df = pd.read_csv('C:/Users/Lenovo/Desktop/Mahmoud/Car_Price/Car_Price.csv')

In [2]:
df.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,image_url
0,1,3,alfa-romeo giulia,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,https://media.ed.edmunds-media.com/alfa-romeo/...
1,2,3,alfa-romeo stelvio,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,https://www.carshowroom.com.au/media/21507397/...
2,3,1,alfa-romeo Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,https://media.ed.edmunds-media.com/alfa-romeo/...
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,http://topcarspecs.com/manufacturers/audi/audi...
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,https://bilweb-auctions-images.s3-eu-west-1.am...

In [3]:
df[df.duplicated()]

Empty DataFrame
Columns: [car_ID, symboling, CarName, fueltype, aspiration, doornumber, carbody, drivewheel, enginelocation, wheelbase, carlength, carwidth, carheight, curbweight, enginetype, cylindernumber, enginesize, fuelsystem, boreratio, stroke, compressionratio, horsepower, peakrpm, citympg, highwaympg, price, image_url]
Index: []

[0 rows x 27 columns]

In [4]:
null = df[df.isnull()]
null_count = null.sum()
null_count

car_ID              0.0
symboling           0.0
CarName               0
fueltype              0
aspiration            0
doornumber            0
carbody               0
drivewheel            0
enginelocation        0
wheelbase           0.0
carlength           0.0
carwidth            0.0
carheight           0.0
curbweight          0.0
enginetype            0
cylindernumber        0
enginesize          0.0
fuelsystem            0
boreratio           0.0
stroke              0.0
compressionratio    0.0
horsepower          0.0
peakrpm             0.0
citympg             0.0
highwaympg          0.0
price               0.0
image_url             0
dtype: object

In [5]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [6]:
df_predict = pd.get_dummies(df, columns=['fueltype','aspiration','drivewheel','enginelocation'])

In [7]:
change = {'two':2,'four':4}
df_predict['doornumber'] = df_predict['doornumber'].map(change)

In [8]:
change1 = {'two':2,'three':3,'four':4,'five':5,'six':6,'eight':8,'twelve':12}
df_predict['cylindernumber'] = df_predict['cylindernumber'].map(change1)

In [9]:

car_names = df['CarName'].tolist()
df['Brand'] = df['CarName'].str.split().str[0]
df['Brand'] = df['Brand'].str.capitalize()
df.loc[df['Brand'] == 'Alfa', 'Brand'] += ' ' + df['CarName'].str.split().str[1]

# Get an image for each Car by Bing Search API

In [ ]:
import requests
import pandas as pd

# Replace '******' with your actual Bing Search API key
bing_api_key = '******'

car_names = df['CarName'].tolist()

# Function to get car image URL from Bing Image Search API
def get_car_image_url(CarName):
    endpoint = 'https://api.bing.microsoft.com/v7.0/images/search'
    headers = {'Ocp-Apim-Subscription-Key': bing_api_key}

    params = {
        'q': f'{CarName} car',
        'count': 1,
        'imageType': 'Photo',
    }

    try:
        response = requests.get(endpoint, headers=headers, params=params)
        response.raise_for_status()

        results = response.json().get('value')
        if results:
            return results[0]['contentUrl']

    except Exception as e:
        print(f"Error fetching image for {CarName}: {e}")

    return None

df_predict['image_url'] = df_predict['CarName'].apply(get_car_image_url)

In [10]:
df_predict.head(1)

,car_ID,symboling,CarName,doornumber,carbody,wheelbase,carlength,carwidth,carheight,curbweight,...,image_url,fueltype_diesel,fueltype_gas,aspiration_std,aspiration_turbo,drivewheel_4wd,drivewheel_fwd,drivewheel_rwd,enginelocation_front,enginelocation_rear
0,1,3,alfa-romeo giulia,2,convertible,88.6,168.8,64.1,48.8,2548,...,https://media.ed.edmunds-media.com/alfa-romeo/...,0,1,1,0,0,0,1,1,0

In [11]:
df_predict = df_predict.drop(['CarName','carbody','enginetype','fuelsystem','image_url'],axis=1)

# Train the Dataset and create individual models with L2 regularization

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, VotingRegressor

X = df_predict.drop('price', axis=1)  # Features
y = df_predict['price']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

linear_model = Ridge(alpha=1.0)  
random_forest_model = RandomForestRegressor(random_state=42)
gradient_boosting_model = GradientBoostingRegressor(random_state=42)

# Combine models using VotingRegressor
ensemble_model = VotingRegressor([('linear', linear_model), ('random_forest', random_forest_model), ('gradient_boosting', gradient_boosting_model)])

linear_model.fit(X_train, y_train)
random_forest_model.fit(X_train, y_train)
gradient_boosting_model.fit(X_train, y_train)
ensemble_model.fit(X_train, y_train)

VotingRegressor(estimators=[('linear', Ridge()),
                            ('random_forest',
                             RandomForestRegressor(random_state=42)),
                            ('gradient_boosting',
                             GradientBoostingRegressor(random_state=42))])

# Make predictions on the entire dataset and calculate Mae

In [13]:
y_pred_linear = linear_model.predict(X)
y_pred_random_forest = random_forest_model.predict(X)
y_pred_gradient_boosting = gradient_boosting_model.predict(X)
y_pred_ensemble = ensemble_model.predict(X)

In [14]:
from sklearn.metrics import mean_absolute_error

# Calculate MAE for linear model
mae_linear = mean_absolute_error(y, y_pred_linear)

# Calculate MAE for random forest model
mae_random_forest = mean_absolute_error(y, y_pred_random_forest)

# Calculate MAE for gradient boosting model
mae_gradient_boosting = mean_absolute_error(y, y_pred_gradient_boosting)

# Calculate MAE for ensemble model
mae_ensemble = mean_absolute_error(y, y_pred_ensemble)

mae_gradient_boosting

680.0941618538726

In [15]:
result_df = pd.DataFrame({'car_ID':X['car_ID'],'Predicted_Price':y_pred_gradient_boosting})

In [16]:
result_df.to_csv('prediction.csv',index=False)